<div class="separator"></div>
<article>
  <h3 class="resume-headline">Education</h3>
  {% for entry in site.education %}
    <section class="listing">
      <p class="years">{{ entry.years }}</p>
      <div>
        <a href="{{ entry.URL }}">
          <span>{{ entry.program }}</span>
        </a>
      </div>
      <p>{{ entry.institute }}</p>
      <p class="entry-content">{{ entry.content | markdownify }}</p>
      <!-- 👆 Run markdownify filter to convert markdown to HTML -->
    </section>
  {% endfor %}
</article>