<header>
  <h1 class="title">Adam Szakal</h1>
  <p class="preamble">An interdisciplinary designer living in Gothenburg, Sweden.</p>

  <p>
    Currently working at
    <a href="www.gpsgate.com">GpsGate</a>, helping to shape one of the worlds most
    advanced fleet tracking platforms into a efficient and intuitive tool for people all over the world.</p>

  <aside class="contact-footer">
    <div>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="mailto:adam.b.szakal@gmail.com?subject=What's cracking, homeslice?&body=Hey Adam, my name is [your name here]. Incredibly, I somehow found your website and it seemed interesting enough for me to wanna see some more of what you've worked on. May I? ">E-mail</a>
    </div>
    <div>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/adamszakal/">LinkedIn</a>
    </div>
    <div>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.twitter.com/adam_szakal/">Twitter</a>
      (dumb jokes)
    </div>
    <div>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/@adamj5/videos">Youtube</a>
      (skate videos)
    </div>

  </aside>
</header>